<section class="services">
	<div class="conteiner row">
		<div class="services__item col-md-3">
			<img class="services__icon" src="images/icon/icon1.png">
			<h3 class="services__title">Печатаем что угодно</h3>
			<p class="services__text">Все фотообои мы изготавливаем под заказ на собственном оборудовании. По этому можем напечатать совершенно все, что вы захотите</p>
		</div>
		<div class="services__item col-md-3">
			<img class="services__icon" src="images/icon/icon2.png">
			<h3 class="services__title">Любые размеры</h3>
			<p class="services__text">Профессиональное оборудование позволяет напечатать фотообои совершенно любого размера. Можем заклеить как часть, таки все стену без ограничений.</p>
		</div>
		<div class="services__item col-md-3">
			<img class="services__icon" src="images/icon/icon3.png">
			<h3 class="services__title">Изготовление за 1 день</h3>
			<p class="services__text">В среднем, изготовление одних фотообоев среднего размера занимает не более одного дня!</p>
		</div>
		<div class="services__item col-md-3">
			<img class="services__icon" src="images/icon/icon4.png">
			<h3 class="services__title">Без посредников</h3>
			<p class="services__text">Мы имеем в наличие все необходимое оборудование для самостоятельного изготовления фотообоев. А значит вы не переплачиваете посредникам.</p>
		</div>
	</div>
</section>

</main>
